<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: plum;
        }
        
    </style>
</head>
<body>
    <from><center>
        <h1>Welcome To SPM Application</h1>
        <p><input name="text" placeholder="Student-id"></p>
        <p><input name="text" placeholder="Student f-name"></p>
        <p><input name="text" placeholder="Student l-name"></p>
        <p><input name="text" placeholder="Enter your Email"></p>
        <p><input name="text" placeholder="Enter your Ph_no"></p>
        <p><input name="adgress" placeholder="Enter your addres"></p>
        <p><input name="numbers" placeholder="password"></p>
        <button>Sigh in</button>
        
    </center></from>
</body>
</html>