{% extends 'panl.html' %}
{% block addcss %}
<link rel="stylesheet" href="{{url_for('static',filename='notes.css')}}">
{% endblock %}
{% block content %}
<div class="container">
  <h1>Add notes</h1>
  <form method="post">
    <label for="titleField">Title:</label>
    <input type="text" id="titleField" palceholder="Enter a title..." name="title" value="{{note_data[0]}}">
    <label for="contentField">Content:</label>
    <textarea id="contentField" class="container-field" placeholder="write your content" name="content" >{{note_data[1]}}</textarea>
    <button type="submit">Submit</button>
  </form>
</div>
{% endblock %}